streamlit==1.50.0
pandas==2.3.3
numpy==2.2.6
matplotlib==3.10.7
seaborn==0.13.2
scikit-learn==1.7.2
xgboost==3.1.1
plotly==6.3.1

# LangChain + AI stack
chromadb==1.2.1
huggingface-hub==0.36.0
openai==2.6.0
tiktoken==0.12.0

# Data & serialization
pyarrow==22.0.0
pydantic==2.12.3
pydantic-settings==2.11.0
dataclasses-json==0.6.7

# Jupyter & development tools
ipykernel==7.0.1
jupyterlab==4.4.9
pytest==8.4.2
pylint==4.0.2
black
isort

# Utils & web frameworks
fastapi
uvicorn==0.38.0
requests==2.32.5
python-dotenv==1.1.1

# Optional visualization & extras
altair==5.5.0
plotly==6.3.1



# ==============================================
# comment if you dont want to use the RAG system
# RAG system dependencies
# sentence-transformers>=2.2.2
# chromadb>=0.4.0
# langchain>=0.1.0
# faiss-cpu>=1.7.4

# # LLM dependencies
# google-generativeai>=0.3.0
# python-dotenv>=1.0.0


# # Development and testing
# pytest>=7.0.0
# ==============================================
# comment if you dont want to use the RAG system
